{% extends 'base.html' %}
{% block title %}Planners{% endblock %}

{% block content %}
{% load template_tags %}

<h2>Planners</h2>
<div class='table-responsive' id='table'>
  <div class="input-group col-md-3" style='padding-left: 0'>
    <input class="form-control search" placeholder="Search...">
    <span class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
  <table class="table table-hover" style="width: inherit;">
    <thead>
      <tr>
        <th class="sort" data-sort="id">ID</th>
        <th class="sort" data-sort="interval">Interval</th>
        <th class="sort" data-sort="last_repeat">Last repeat at</th>
        <th class="sort" data-sort="task">Task</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="list">
      {% for planner in planners %}
      <tr>
        <td class="id" scope="row">{{planner.id}}</td>
        <td class="interval">{% get_timedelta planner.interval %}</td>
        <td class="last_repeat">{{planner.last_repeat}}</td>
        <td class="task">
          <a href="{% url 'unihelp:show_task' planner.task_id %}">
            {% get_task_title planner.user_id planner.task_id %}
          </a>
        </td>
        <td>
          <a href="{% url 'unihelp:tasks_by_planner' planner.id %}" class='btn btn-dark'>Created tasks</a>
          <a href="{% url 'unihelp:edit_planner' planner.id %}" class='btn btn-warning'>Edit</a>
          <form style='display: inline-block;' action="{% url 'unihelp:delete_planner' planner.id %}" method='post'>
            {% csrf_token %}
            <button type='submit' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this planner?')">Delete</button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <ul class='pagination'></ul>
</div>
<a href="{% url 'unihelp:new_planner' %}" class='btn btn-outline-dark'>Add planner</a>
<a href="{% url 'unihelp:repeats' %}" class='btn btn-dark'>Manage repeated tasks</a>
<script>
var options = {
  valueNames: [ 'id', 'interval', 'last_repeat', 'task' ],
  pagination: true,
  page: 7,
};
var list = new List('table', options);
if(list.size() / list.page <= 1){
  document.getElementsByClassName('pagination')[0].style.display = 'none';
}
</script>
{% endblock %}
