{% extends 'base.html' %}

{% block title %}New planner{% endblock %}

{% block content %}
{% load bootstrap4 %}
{{ form.media }}

<h2>New planner</h2>
<a href="{% url 'unihelp:new_repeat' %}" class='btn btn-warning'>Add repeated task</a>
<div class='form' style="position: relative; margin-top: 20px">
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-dark">Submit</button>
    {% endbuttons %}
  </form>
</div>
<input class='btn btn-outline-dark' type=button value="Back" onClick="javascript:history.go(-1);">
{% endblock %}