body {
   background-image: url("../images/original.gif");
   background-position: right bottom;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 20%;
}

.jumbotron {
   background-image: url("../images/2.gif");
   background-position: bottom;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100%;
}

.display-4 {
    font-family: serif;
    text-align: center;
}

.container {
	margin-top: 20px;
}

.form {
    position: relative;
    width: 900px;
    margin-left: 40px
}

.table-responsive {
    position: relative;
    width: 900px;
    margin-left: 40px
}

.right {
	float: right;
}

.table-responsive {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination li.active {
  background-color: gray;
  border-color: gray;
}

.background-gray:active {
  background-color: #ddd;
  color: black;
}
