{% extends 'base.html' %}

{% block title %}Edit notification{% endblock %}

{% block content %}
{% load bootstrap4 %}

<h2>Edit notification</h2>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-success">Update</button>
  {% endbuttons %}
</form>
<input class='btn btn-primary' type=button value="Back" onClick="javascript:history.go(-1);">

{% endblock %}