{% extends 'base.html' %}
{% block title %}Notifications{% endblock %}

{% block content %}
{% load template_tags %}

<h2>Notifications</h2>
<div class='table-responsive' id='table'>
  <div class="input-group col-md-3" style='padding-left: 0'>
    <input class="form-control search" placeholder="Search...">
    <span class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
  <table class="table table-hover" style="width: inherit;">
    <thead>
      <tr>
        <th class="sort" data-sort="id">ID</th>
        <th class="sort" data-sort="title">Title</th>
        <th class="sort" data-sort="work_start_time">Work start time</th>
        <th class="sort" data-sort="state">State</th>
        <th class="sort" data-sort="task">Task</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="list">
      {% for notification in notifications %}
      <tr>
        <td class="id" scope="row">{{notification.id}}</td>
        <td class="title">{{notification.title}}</td>
        <td class="work_start_time">{{notification.work_start_time}}</td>
        <td class="state">
          <h5><span class="badge badge-{% get_state_tag notification.state %}">{% get_state notification.state %}</span></h5>
        </td>
        <td class="task">
          {% if notification.task_id is not None %}
            <a href="{% url 'unihelp:show_task' notification.task_id %}">
              {% get_task_title notification.user_id notification.task_id %}
            </a>
          {% endif %}
        </td>
        <td>
          {% if view == 'await' %}
          <form style='display: inline-block;' action="{% url 'unihelp:set_shown_notification' notification.id %}" method='post'>
            {% csrf_token %}
            <button type='submit' class='btn btn-primary'>Set as shown</button>
          </form>
          {% endif %}
          <a href="{% url 'unihelp:edit_notification' notification.id %}" class='btn btn-warning'>Edit</a>
          <form style='display: inline-block;' action="{% url 'unihelp:delete_notification' notification.id %}" method='post'>
            {% csrf_token %}
            <button type='submit' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this notification?')">Delete</button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <ul class='pagination'></ul>
</div>
<a href="{% url 'unihelp:new_notification' %}" class='btn btn-outline-dark'>Add notification</a>
<script>
var options = {
  valueNames: [ 'id', 'title', 'work_start_time', {
    name: 'state',
    attr: 'value'
  }, 'task' ],
  pagination: true,
  page: 7,
};
var list = new List('table', options);
if(list.size() / list.page <= 1){
  document.getElementsByClassName('pagination')[0].style.display = 'none';
}
</script>
{% endblock %}
