{% extends 'base.html' %}

{% block title %}New notification{% endblock %}

{% block content %}
{% load bootstrap4 %}
{{ form.media }}

<h2>New notification</h2>
<div class='form' style="position: relative">
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-dark">Accept</button>
    {% endbuttons %}
  </form>
</div>
<input class='btn btn-outline-dark' type=button value="Back" onClick="javascript:history.go(-1);">
{% endblock %}