{% extends 'base.html' %}
{% block title %}Tags{% endblock %}

{% block content %}
<h2>Tags</h2>
<div class='table-responsive' id='table'>
  <div class="input-group col-md-3" style='padding-left: 0'>
    <input class="form-control search" placeholder="Search...">
    <span class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
  <table class="table table-hover" style="width: inherit;">
    <thead>
      <tr>
        <th class="sort" data-sort="id">ID</th>
        <th class="sort" data-sort="name">Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="list">
    	{% for tag in tags %}
  		<tr>
  		  <td class="id" scope="row">{{tag.id}}</td>
  		  <td class="name">{{tag.name}}</td>
        <td>
          <a href="{% url 'unihelp:tasks_by_tag' tag.id %}" class='btn btn-dark'>Show tasks</a>
          <a href="{% url 'unihelp:edit_tag' tag.id %}" class='btn btn-warning'>Edit</a>
          <form style='display: inline-block;' action="{% url 'unihelp:delete_tag' tag.id %}" method='post'>
            {% csrf_token %}
            <button type='submit' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this tag?')">Delete</button>
          </form>
        </td>
  		</tr>
  	{% endfor %}
    </tbody>
  </table>
  <ul class='pagination'></ul>
</div>
<a href="{% url 'unihelp:new_tag' %}" class='btn btn-outline-dark'>Add tag</a>
<script>
var options = {
  valueNames: [ 'id', 'name' ],
  pagination: true,
  page: 7,
};
var list = new List('table', options);
if(list.size() / list.page <= 1){
  document.getElementsByClassName('pagination')[0].style.display = 'none';
}
</script>
{% endblock %}
