{% extends 'base.html' %}

{% block title %}New tag{% endblock %}

{% block content %}
{% load bootstrap4 %}
<h2>New tag</h2>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-dark">Accept</button>
  {% endbuttons %}
</form>
<input class='btn btn-outline-dark' type=button value="Back" onClick="javascript:history.go(-1);">
{% endblock %}