{% extends 'base.html' %}
{% block title %}Tasks{% endblock %}
{% block content %}
{% load template_tags %}

<h2>{{header|safe}}</h2>
<div class='table-responsive' id='table'>
    <div class="input-group col-md-3" style='padding-left: 0'>
      <input class="form-control search" placeholder="Search...">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
    <table class="table table-hover" style="width: inherit;">
    <thead>
      <tr>
        <th class="sort" data-sort="id">ID</th>
        <th class="sort" data-sort="title">Title</th>
        <th class="sort" data-sort="note">Note</th>
        <th class="sort" data-sort="tag">Tag</th>
        <th class="sort" data-sort="status">Status</th>
        <th class="sort" data-sort="priority">Priority</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="list">
      {% for task in tasks %}
      <tr>
        <td class="id" data-toggle="modal" data-id="{{task.id}}" data-title="{{task.title}}" data-target="#modal" data-status="{{task.status}}" data-priority="{{task.priority}}" scope="row">{{task.id}}</td>
        <td class="title" data-toggle="modal" data-id="{{task.id}}" data-title="{{task.title}}" data-target="#modal" data-status="{{task.status}}" data-priority="{{task.priority}}">{{task.title}}</td>
        <td class="note" data-toggle="modal" data-id="{{task.id}}" data-title="{{task.title}}" data-target="#modal" data-status="{{task.status}}" data-priority="{{task.priority}}">{{task.note}}</td>
        <td class="tag">
          {% if foreign_tag %}
            {% search_tag_name user.id task.tag_id %}
          {% elif task.tag_id is not None %}
            <a href="{% url 'unihelp:tasks_by_tag' task.tag_id %}">{% search_tag_name user.id task.tag_id %}</a>
          {% endif %}
        </td>
        <td class="status">
          <h5><a class="badge badge-{% get_status_tag task.status %}" href="{% url 'unihelp:tasks_by_status' task.status %}">{% get_status task.status %}</a></h5>
        </td>
        <td class="priority">
          <h5><a class="badge badge-{% get_priority_tag task.priority %}" href="{% url 'unihelp:tasks_by_priority' task.priority %}">{% get_priority task.priority %}</a></h5>
        </td>
        <td>
          <a href="{% url 'unihelp:show_task' task.id %}" class='btn btn-dark'>Show</a>
          {% if view != 'can_read' %}
            <a href="{% url 'unihelp:edit_task' task.id %}" class='btn btn-warning'>Edit</a>
            {% if task.status != 4 %}
              <form style='display: inline-block;' action="{% url 'unihelp:delete_task' task.id %}" method='post'>
                {% csrf_token %}
                <button type='submit' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this task?')">Delete</button>
              </form>
            {% else %}
              <form style='display: inline-block;' action="{% url 'unihelp:delete_archived_task' task.id %}" method='post'>
                {% csrf_token %}
                <button type='submit' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this task?')">Delete</button>
              </form>
            {% endif %}
          {% endif %}
          <a href="{% url 'unihelp:add_subtask' task.id %}" class="btn btn-outline-dark">Add subtask</a>
          </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <ul class='pagination'></ul>
</div>
<a href="{% url 'unihelp:new_task' %}{{query}}" class='btn btn-outline-dark'>Add task</a>
{% if view != 'can_read' and status_id != '4' %}
{% endif %}
<script>
var options = {
  valueNames: [ 'id', 'title', 'note', 'tag', {
    name: 'status',
    attr: 'value'
  }, {
    name: 'priority',
    attr: 'value'
  }],
  pagination: true,
  page: 7,
};
var list = new List('table', options);
if(list.size() / list.page <= 1){
  document.getElementsByClassName('pagination')[0].style.display = 'none';
}
</script>
{% endblock %}
