{% extends 'base.html' %}

{% block title %}Task info{% endblock %}
{% load template_tags %}
{% block content %}

<h2>Task info</h2>
<table class="table table-striped">
  <tbody>
    <tr>
      <td class="title">ID</td>
      <td>{{task.id}}</td>
    </tr>
    <tr>
      <td class="title">Title</td>
      <td>{{task.title}}</td>
    </tr>
    <tr>
      <td class="title">Note</td>
      <td>{{task.note}}</td>
    </tr>
    <tr>
      <td class="title">Tag</td>
      <td>
        {% if task.tag_id is not None %}
        <a href="{% url 'unihelp:tasks_by_tag' tag.id %}"> {{tag.name}}</a>
        {% else %}
        {{task.tag_id}}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td class="title">Priority</td>
      <td>
        <h5><a class="badge badge-{% get_priority_tag task.priority %}" href="{% url 'unihelp:tasks_by_priority' task.priority %}"> {{priority}}</a></h5>
      </td>
    </tr>
    <tr>
      <td class="title">Status</td>
      <td>
        <h5><a class="badge badge-{% get_status_tag task.status %}" href="{% url 'unihelp:tasks_by_status' task.status %}"> {{status}}</a></h5>
      </td>
    </tr>
    <tr>
      <td class="title">Created at</td>
      <td>{{task.time_create}}</td>
    </tr>
    <tr>
      <td class="title">Updated at</td>
      <td>{{task.time_update}}</td>
    </tr>
    <tr>
      <td class="title">Event</td>
      <td>{{task.is_event}}</td>
    </tr>
    <tr>
      <td class="title">Time start</td>
      <td>{{task.time_start}}</td>
    </tr>
    <tr>
      <td class="title">Time end</td>
      <td>{{task.time_end}}</td>
    </tr>
    <tr>
      <td class="title">Parent task</td>
      <td>
        {% if parent_task_title is not None %}
        <a href="{% url 'unihelp:show_task' task.parent_task_id%}">{{ parent_task_title }}</a>
        {% else %}
        {{ parent_task_title }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td class="title">Subtasks</td>
      <td>
        {% for subtask in subtasks %}
          <a href="{% url 'unihelp:show_task' subtask.id%}">{{ subtask.title }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td class="title">Creator</td>
      <td>{{creator}}</td>
    </tr>
  </tbody>
</table>
<input class='btn btn-dark' type=button value="Back" onClick="javascript:history.go(-1);">
<div class='right'>
  <a href="{% url 'unihelp:edit_task' task.id %}" class='btn btn-warning'>Edit</a>
  <form style='display: inline-block;' action="{% url 'unihelp:delete_task' task.id %}" method='post'>
    {% csrf_token %}
    <button type='submit' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this task?')">Delete</button>
  </form>
</div>
{% endblock %}