{% extends 'base.html' %}
{% block title %}Users{% endblock %}

{% block content %}

<h2>Users</h2>

<div class='table-responsive' id='table'>
  <div class="input-group col-md-3" style='padding-left: 0'>
    <input class="form-control search" placeholder="Search...">
    <span class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
  <table class="table table-hover" style="width: inherit;">
    <thead>
      <tr>
        <th class="sort" data-sort="id">ID</th>
        <th class="sort" data-sort="username">Username</th>
        <th>Action</th>
        {% if user.username == "admin" %}
        <th>Admin</th>
        {% endif %}
      </tr>
    </thead>
    <tbody class="list">
      {% for item in users %}
      {% if item != user %}
      <tr>
        <td class="id" scope="row">{{item.id}}</td>
        <td class="username">{{item.username}}</td>
        <td><a href="{% url 'unihelp:send_notification' item.id %}" class='btn btn-outline-dark'>Send message</a></td>
        {% if user.username == "admin" %}
        <td><a href="{% url 'unihelp:delete_user' item.id %}" class='btn btn-danger'>Delete user</a></td>
        {% endif %}
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
  <ul class='pagination'></ul>
</div>
<script>
var options = {
  valueNames: [ 'id', 'username'],
  pagination: true,
  page: 7,
};
var list = new List('table', options);
if(list.size() / list.page <= 1){
  document.getElementsByClassName('pagination')[0].style.display = 'none';
}
</script>
{% endblock %}
