{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
{% load bootstrap4 %}

<h2>Log In</h2>
<form method="post">
  {% if error %}
  <h2>{{error}}</h2>
  {% endif %}
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-outline-dark">Log In</button>
  {% endbuttons %}
</form>
{% endblock %}