{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
{% load bootstrap4 %}

<h2>Sign Up</h2>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-outline-dark">Sign Up</button>
    {% endbuttons %}
  </form>
{% endblock %}
