{% block header %}
{% load fontawesome %}
{% load template_tags %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"  data-toggle="tooltip" data-placement="bottom" title="Click here to go to the main page." href="/"><font face="serif">UniHelp</font></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if nav_bar == 'tasks' %}active{% endif %}"  href="#" id="navbarTasks" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% fontawesome_icon 'tasks' color='black' %} Tasks</a>
          <div class="dropdown-menu" aria-labelledby="navbarTasks">
            <a class="dropdown-item" data-toggle="tooltip" data-placement="bottom" title="Click here if you want to work on your tasks." href='{% url "unihelp:tasks" %}'>My</a>
            <a class="dropdown-item" data-toggle="tooltip" data-placement="bottom" title="Click here if you want to see the tasks available for reading." href='{% url "unihelp:can_read_tasks" %}'>Can read</a>
            <a class="dropdown-item" data-toggle="tooltip" data-placement="bottom" title="Click here if you want to see the tasks available for writing." href='{% url "unihelp:can_write_tasks" %}'>Can write</a>
            <a class="dropdown-item" data-toggle="tooltip" data-placement="bottom" title="Click here if you want to see how cool you are." href='{% url "unihelp:tasks_by_status" 3 %}'>Archive</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if nav_bar == 'notifications' %}active{% endif %}"  href="#" id="navbarNotifications" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% fontawesome_icon 'envelope outlined' color='black' %} Notifications</a>
          <div class="dropdown-menu" aria-labelledby="navbarNotifications">
            <a class="dropdown-item" data-toggle="tooltip" data-placement="bottom" title="Click here to work with all notifications." href='{% url "unihelp:all_notifications" %}'>All</a>
            <a class="dropdown-item" data-toggle="tooltip" data-placement="bottom" title="Click here to work with notifications by state CREATED." href='{% url "unihelp:created_notifications" %}'>Created</a>
            <a class="dropdown-item" data-toggle="tooltip" data-placement="bottom" title="Click here to work with notifications by state AWAIT." href='{% url "unihelp:await_notifications" %}'>Await</a>
            <a class="dropdown-item" data-toggle="tooltip" data-placement="bottom" title="Click here to work with notifications by state SHOWN." href='{% url "unihelp:shown_notifications" %}'>Shown</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nav_bar == 'planners' %}active{% endif %}" data-toggle="tooltip" data-placement="bottom" title="Click here to work with planners." href="{% url 'unihelp:planners' %}">{% fontawesome_icon 'paperclip' color='black' %} Planners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nav_bar == 'tags' %}active{% endif %}" data-toggle="tooltip" data-placement="bottom" title="Click here to work with tags." href='{% url "unihelp:tags" %}'>{% fontawesome_icon 'tag' color='black' %} Tags<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nav_bar == 'users' %}active{% endif %}" data-toggle="tooltip" data-placement="bottom" title="Click here to see users." href='{% url "unihelp:users" %}'>{% fontawesome_icon 'user' color='black' %} Users<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto"></ul>
      {% if user.is_authenticated %}
        <ul class="navbar-nav ">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navLinkNotifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ await_notifications_count }} {% fontawesome_icon 'envelope outlined' color='black'%}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navLinkNotifications">
              {% for notification in await_notifications %}
                <div class="dropdown-item background-gray">
                  <div class='notifications'>
                    <div class='notification'>
                      <div class='title inline'>
                        <h5>{{notification.title}}</h5>
                      </div>
                      {% if notification.task_id is not None %}
                      <div class='task inline margin-right'>
                        <a href="{% url 'unihelp:show_task' notification.task_id %}">
                          <h5>{% get_task_title notification.user_id notification.task_id %}</h5>
                        </a>
                      </div>
                      {% endif %}
                      <form style='display: inline-block;' action="{% url 'unihelp:set_shown_notification' notification.id %}" method='post'>
                        {% csrf_token %}
                        <button type='submit' data-toggle="tooltip" data-placement="bottom" title="You saw the notification! Click here." class='btn btn-dark'>Set shown</button>
                      </form>
                    </div>
                  </div>
                </div>
              {% empty %}
                <div class="dropdown-item">
                    <h5>No notifications</h5>
                </div>
              {% endfor %}
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navLinkUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navLinkUser">
              <div class="dropdown-item"  data-toggle="tooltip" data-placement="bottom" title="I'm think.. it's you!">{{user.username}}</div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item"  data-toggle="tooltip" data-placement="bottom" title="I'll miss..." href='{% url "unihelp:logout" %}'>Logout</a>
            </div>
          </li>
        </ul>
      {% else %}
        <a href='{% url "unihelp:login" %}' class='btn btn-dark mr-2'>Log In</a>
        <a href='{% url "unihelp:signup" %}' class='btn btn-outline-dark'>Sign Up</a>
      {% endif %}
    </div>
  </nav>
{% endblock %}
