<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class='jumbotron'>
    {% if user.is_authenticated %}
    <h1 class='display-4'>Welcome, {{ username }}!</h1>
    {% else %}
      <h1 class='display-4'>You are not logged in.</h1>
      <a href="{% url 'unihelp:login' %}">Fix it!</a>
    {% endif %}
  </div>
{% endblock %}